[submodule "ssLogger"]
	path = External/ssLogger
	url = https://github.com/Neko-Box-Coder/ssLogger.git
[submodule "cfgpath"]
	path = External/cfgpath
	url = https://github.com/Malvineous/cfgpath.git
[submodule "Embed2C"]
	path = External/Embed2C
	url = https://github.com/Neko-Box-Coder/Embed2C.git
[submodule "filesystem"]
	path = External/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "System2"]
	path = External/System2
	url = https://github.com/Neko-Box-Coder/System2.git
[submodule "rapidyaml"]
	path = External/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
