/* :not([data-md-state="blur"]) + :not(input:checked) + nav { */
/*     display: none; */
/* } */
/*  */
/* :not([data-md-state="blur"]) + input:checked + nav { */
/*     display: block; */
/* } */

/* .md-nav__item :not(input:checked) + nav { */
/*     display: none; */
/* } */

:not([data-md-state="blur"]) + input:checked + nav {
    display: block;
}

.md-header__button.md-logo {
    // margin-top: 0;
    // margin-bottom: 0;
    // margin-right: 0;
    // padding-right: 0;
    // padding-top: 0;
    // padding-bottom: 0;
    width: 5rem;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    width: 100%;
    height: auto;
    overflow: hidden;
    //height: 50%;
    //width: 100%;
    //min-width: 3rem;
    //display: block;
    //margin-left: auto;
    //margin-right: auto;
}

.md-nav__list > .md-nav__item {
    margin-left: 0.5rem;
}

.md-nav--primary > .md-nav__list > .md-nav__item {
    margin-left: 0;
}

.md-typeset h5, .md-typeset h6 {
    font-weight: 700;
    letter-spacing: -.01em;
    margin: 1em 0;
    font-size: 1em;
}

.md-tooltip2__inner {
    /* background-color: color-mix(in oklab, var(--md-default-bg-color) 90%, var(--md-primary-bg-color) 10%); */
    /* background-color: alpha(from red / 100%); */
    /* background-color: var(--md-default-bg-color); */
    /* box-shadow: var(--md-shadow-z3); */
    /* box-shadow: none; */
    /*0 0.2rem 0.5rem #0000001a,0 0 0.05rem #00000040*/
    border-top-style: solid;
    border-width: 0.2rem;
    border-radius: 0;
    border-color: var(--md-typeset-a-color);
    /* border-color: #00b8d4; */
}

:root {
    --md-tooltip-width: 40rem;
}

.md-tooltip2--bottom::before {
    border-bottom: none;
}

